body {
  background-color: black;
}

html,
body {
  overflow-x: hidden;
  touch-action: pan-y;
  user-select: none;
  height: 100%;
  margin: 0;
  max-width: 100%;
  scroll-behavior: smooth;
}

#flag1 {
  width: 90px;
  height: 90px;
  margin: auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: -50px;
}

.load > .logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  margin: auto;
}

.loading h2 {
  font-family: "Playfair Display", system-ui, -apple-system, sans-serif;
  color: white;
  text-align: center;
  transform: translateY(-20px);
}

.inf {
  font-family: "Playfair Display", system-ui, -apple-system, sans-serif;
  color: white;
  font-size: 18px;
  margin: auto;
  color: rgba(240, 248, 255, 0.308);
  width: 80vh;
  text-align: center;
}

